* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

#side_nav {
    background-color: black;
    min-width: 250px;
    max-width: 250px;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background-color: #eee;
}

.sidebar li a {
    color: #fff;
}

.sidebar li:hover {
    background: #eee;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.sidebar li a:hover {
    color: #000;
    transition: all 0.3s ease 0s;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

    .sidebar li.active a {
        transition: top 0.3s ease 0s;
        color: #000;
    }

header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 2% 3%;
    transition: top 0.3s ease 0s;
}

.errors-card {
    transition: top 0.3s ease 0s;
}

/*Pagination ui*/
/*table tr:last-child table {
    width: 54%;
    margin: auto;
}*/